* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgb(155, 16, 3) 26%,
            rgba(0, 212, 255, 1) 100%);
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding-block: 12px;
}

main {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    margin: 4rem auto;
}

.search-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

#search-city-input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    margin-block: 8px;
}

.search-btn {
    width: 100%;
    background-color: lightgreen;
    border: 1px solid lightseagreen;
    margin-block: 8px;
    padding: 12px;
    border-radius: 4px;
    color: slategray;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 250ms;

    &:hover {
        background-color: rgb(11, 17, 186);
    }
}

.searched-cities-container {
    display: flex;
    flex-direction: column;
    margin-block: 8px;
    gap: 8px;
}

.searched-cities-container button {
    padding: 8px;
    background-color: cadetblue;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    text-transform: capitalize;
    border: none;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
        background-color: rgb(50, 123, 126);
    }
}

.today-weather {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;
}

.place-name {
    font-size: 36px;
    font-weight: bolder;
}

.five-days-weather-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.five-days-weather-container-title {
    font-size: 28px;
    font-weight: bold;
    margin-block: 8px;
}

.weather-forcast-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background-color: darkolivegreen;
    border-radius: 4px;
}

.weather-forcast-card p {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

img {
    width: 32px;
    height: 32px;
}